.row {
  @apply flex gap-8 items-center md:flex-row flex-col;

  & > div {
    &:first-of-type {
      @apply w-full md:w-[40%] flex-shrink-0 relative overflow-hidden;
      box-shadow: 10px 10px 0px rgba(194, 18, 68, 0.8);
      border-radius: 15px;
      &::before {
        content: "";
        @apply block absolute inset-0 bg-black bg-opacity-5;
      }
    }

    img {
      @apply w-full;
    }
  }

  &.reverse {
    @apply flex-col md:flex-row-reverse;
  }
}

.text {
  @apply text-sm md:text-base;

  line-height: 1.8 !important;

  b {
    @apply text-main;
  }
}

.history_container {
  @apply flex items-center gap-6 flex-col-reverse md:flex-row;

  .history_image {
    @apply flex-shrink-0 overflow-hidden w-full md:w-[40%];
    border-radius: 15px;
    box-shadow: 10px 10px 0px rgba(194, 18, 68, 0.8);
    img {
      @apply w-full;
    }
  }
}

.history_list {
  @apply flex flex-col gap-5 relative;

  &::after {
    content: "";
    @apply block bg-main absolute left-0;
    top: 8px;
    width: 1px;
    height: calc(100% - 8px);
  }

  li {
    @apply relative pl-5;

    h3 {
      @apply text-main text-lg font-bold;
    }

    p {
      @apply text-text text-sm md:text-base;

      b {
        @apply text-main;
      }
    }

    &::after {
      content: "";
      @apply w-4 h-4 absolute rounded-full bg-main block;
      top: 6px;
      left: -8px;
    }
  }
}

.access_wrapper {
  @apply flex flex-col gap-5 md:flex-row;

  & > div {
    &:nth-of-type(1) {
      width: calc(65% - 20px);
    }
    &:nth-of-type(2) {
      width: 35%;
    }
  }

  @media screen and (max-width: 767px) {
    & > div {
      &:nth-of-type(1) {
        width: 100%;
      }
      &:nth-of-type(2) {
        width: 100%;
      }
    }
  }
}
