.row {
  @apply flex gap-8 items-center md:flex-row flex-col;

  &.pad_col {
    @apply flex-col lg:flex-row;
  }

  & > div {
    &:first-of-type {
      @apply w-full md:w-[40%] flex-shrink-0 relative overflow-hidden;
      box-shadow: 10px 10px 0px rgba(194, 18, 68, 0.8);
      border-radius: 15px;
      &::before {
        content: "";
        @apply block absolute inset-0 bg-black bg-opacity-5;
      }
    }

    img {
      @apply w-full;
    }
  }

  &.reverse {
    @apply flex-col md:flex-row-reverse;

    &.pad_col {
      @apply flex-col lg:flex-row-reverse;
    }
  }
}

.text {
  @apply text-sm md:text-base;

  line-height: 1.8 !important;

  b {
    @apply text-main;
  }

  &.tenant_message {
    b {
      @apply text-black;
    }
  }

  a {
    @apply underline underline-offset-2;
  }
}

.history_container {
  @apply flex items-center gap-6 flex-col-reverse md:flex-row;

  .history_image {
    @apply flex-shrink-0 overflow-hidden w-full md:w-[40%];
    border-radius: 15px;
    box-shadow: 10px 10px 0px rgba(194, 18, 68, 0.8);
    img {
      @apply w-full;
    }
  }
}

.history_list {
  @apply flex flex-col gap-5 relative;

  &::after {
    content: "";
    @apply block bg-main absolute left-0;
    top: 8px;
    width: 1px;
    height: calc(100% - 8px);
  }

  li {
    @apply relative pl-5;

    h3 {
      @apply text-main text-lg font-bold;
    }

    p {
      @apply text-text text-sm md:text-base;

      b {
        @apply text-main;
      }
    }

    &::after {
      content: "";
      @apply w-4 h-4 absolute rounded-full bg-main block;
      top: 6px;
      left: -8px;
    }
  }
}

.eventCard {
  @apply rounded-md bg-white px-6 pb-4 pt-8 drop-shadow-md relative;
  width:100% !important;
  max-width:100%;
  @media screen and (min-width: 640px) {
    width: 20rem !important;
  }

  h3 {
    @apply font-bold text-gray-800 border-b border-b-gray-800 pb-1 text-xl mb-2;
  }

  .card_description {
    @apply text-gray-800;
  }

  .category_tag {
    @apply text-white py-1 px-2 text-xs rounded-lg absolute top-2 right-2;
  }
}

.access_wrapper {
  @apply flex flex-col gap-10 md:gap-5 md:flex-row w-full md:w-2/3;
}
