.row {
  @apply flex gap-8 items-center md:flex-row flex-col;

  & > div {
    &:first-of-type {
      @apply w-full md:w-[40%] flex-shrink-0;
    }

    img {
      @apply w-full;
      box-shadow: 10px 10px 0px rgba(194, 18, 68, 0.8);
      border-radius: 15px;
    }
  }

  &.reverse {
    @apply flex-col md:flex-row-reverse;
  }
}

.text {
  @apply text-sm md:text-base;

  line-height: 1.8 !important;
}
