@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #c21244;
}

::selection {
  background: var(--main);
  color:#fff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  // background-color: rgba(194, 18, 68, 0.02);
}

.bg_wrapper {
  position: fixed;
  inset: 0;
  display: block;
  z-index: -1;
  background-image: url("/paper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  &::after {
    content: "";
    display: block;
    inset: 0;
    position: absolute;
    background-color: rgba(194, 18, 68, 0.03);
  }
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

a {
  color: inherit;
}

.keyvisual {
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-color: #000;
    opacity: 0.15;
  }

  .catch {
    position: absolute;
    z-index: 1;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      writing-mode: vertical-rl;
      opacity: 0;
      animation: fadein 0.6s forwards;
      animation-delay: 0.4s;
      color: #fff;

      font-size: 36px;
      font-weight: bold;
      text-shadow: 0 0 10px var(--main);
    }

    &.en {
      p {
        writing-mode:horizontal-tb;
      }
    }

    @media screen and (max-width: 767px) {
      p {
        font-size: 30px;
        translate: 50% 0;
      }

      &.en {
        p {
          max-width:calc(100% - 32px);
          margin:0 auto;
          translate:0 0;
          font-size:25px;
        }
      }
    }


  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.open_anim {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-color: var(--main);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 15px;
    transition: clip-path 0.6s;
  }
  &.is-inview {
    &::after {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
  }
}

.fadein_anim {
  position: relative;
  opacity: 0;
  translate: 0 40px;

  transition: translate 0.6s, opacity 0.6s;

  &.is-inview {
    opacity: 1;
    translate: 0 0;
  }
}

.title_anim {
  & > span {
    &:first-of-type {
      span {
        opacity: 0;
        transition: opacity 0.4s;
        @for $i from 1 through str-length(attr(data-titleen)) {
          &:nth-of-type(#{$i}) {
            transition-delay: ($i - 1) * 0.1s;
          }
        }
      }
    }
    &:last-of-type {
      span {
        opacity: 0;
        transition: opacity 0.4s;
        @for $i from 1 through str-length(attr(data-title)) {
          &:nth-of-type(#{$i}) {
            transition-delay: ($i - 1) * 0.1s;
          }
        }
      }
    }
  }

  &.is-inview {
    & > span {
      &:first-of-type {
        span {
          opacity: 1;
        }
      }
      &:last-of-type {
        span {
          opacity: 1;
        }
      }
    }
  }
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.ripple {
  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-color: var(--main);
    z-index: -1;
    border-radius: 6px;
    scale: 1;
    transition: scale 0s, opacity 0s;
  }

  &:hover {
    &::before {
      scale: 1.2;
      opacity: 0;
      transition: scale 0.3s ease-in-out, opacity 0.5s;
    }
  }
}

.rbc-time-header {
 @media screen and (max-width:767px) {
  margin-right:0 !important;
 }
}

.rbc-toolbar {
  .rbc-toolbar-label {
    color:var(--main);
    font-weight: bold;
    font-size:16px !important;

    @media screen and (max-width:767px) {
      font-size:14px !important;
    }
  }
  button {
    font-weight: 500 !important;
    font-size:15px !important;
    padding:3px 6px !important;
    border-color:var(--main) !important;
    color:var(--main) !important;
    background-color: #fff !important;
    
    @media screen and (max-width:767px) {
      font-size:14px !important;
    }

    &.rbc-active {
      color:#fff !important;
      background-color:var(--main) !important;
    }
  }
}

.rbc-time-slot {
  .rbc-label {
    font-size:12px;
  }
}

.rbc-month-view {
  background-color:#fff;
}
.rbc-day-view {
  background-color:#fff;
}

.rbc-time-view {
  background-color:#fff;

  @media screen and (max-width:767px) {
    .rbc-row {
      min-height:unset !important;
  
      .rbc-header {
        white-space: unset !important;
        flex:unset !important;
      }
    }
  }

 
}


// .fc {
//   .fc-button-group {
//   }

//   .fc-daygrid-day-number {
//     font-size: 14px;
//   }
//   .fc-button {
//     font-size: 14px;
//     display: flex;
//     padding: 4px 6px;

//     color: var(--main);
//     background-color: transparent;
//     border-color: var(--main);

//     transition: opacity 0.3s;

//     &:hover {
//       background-color: unset;
//       border-color: var(--main);
//       color: var(--main);

//       opacity: 0.7;
//     }

//     &.fc-button-active {
//       background-color: var(--main) !important;
//       border-color: var(--main) !important;

//       &:hover {
//         background-color: var(--main);
//         color: #fff;
//       }
//     }
//   }

//   .fc-view-harness {
//     height: 0 !important;
//     padding-top: 120%;
//     background-color: #fff;
//   }

//   .fc-toolbar {
//     gap: 8px;
//     &.fc-header-toolbar {
//       margin-bottom: 16px !important;
//     }
//   }

//   .fc-h-event {
//     .fc-event-title {
//       font-size: 12px;
//     }
//   }

//   .fc-col-header-cell-cushion {
//     font-size: 12px;

//     @media screen and (max-width: 767px) {
//       font-size: 10px;
//     }
//   }

//   .fc-timegrid-axis-cushion {
//     font-size: 12px;
//     display: flex;
//     width: 100%;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//   }

//   .fc-timegrid-slot-label-cushion {
//     font-size: 12px;
//     display: flex;
//     width: 100%;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
//   }

//   .fc-scroller-liquid-absolute {
//     overflow: auto !important;
//   }

//   .fc-scroller {
//     overflow: auto !important;
//   }

//   .fc-toolbar-title {
//     font-size: 16px;
//     font-weight: bold;
//     color: var(--main);
//   }

//   .fc-h-event {
//     background-color: var(--main) !important;
//     border-color: var(--main) !important;
//   }

//   colgroup {
//     col {
//       width: 40px !important;

//       @media screen and (max-width: 767px) {
//         width: 30px !important;
//       }
//     }
//   }
// }
