.header {
  @apply w-full fixed left-0 right-0 top-0 font-noto;
  z-index: 1000;
}

.logo {
  width: 140px;
  height: 140px;
  @apply absolute left-0 top-0;
  z-index: 10;
  clip-path: circle(100% at 0 0);
  background-color: rgba(194, 18, 68, 0.8);
  backdrop-filter: blur(3px);

  h1 {
    @apply absolute w-20 left-1/2 top-1/2;
    z-index: 1;
    translate: calc(-50% - 15px) calc(-50% - 15px);
  }

  img {
    @apply w-full;
  }

  @media screen and (max-width: 767px) {
    width: 100px;
    height: 100px;

    h1 {
      @apply w-16;
      translate: calc(-50% - 10px) calc(-50% - 10px);
    }
  }
}

.nav_icon {
  width: 140px;
  height: 140px;
  z-index: 10;
  @apply absolute cursor-pointer right-0 top-0;
  clip-path: circle(100% at 100% 0);
  backdrop-filter: blur(3px);
  background-color: rgba(194, 18, 68, 0.8);

  div {
    @apply w-10 h-10 absolute left-1/2 top-1/2;
    translate: calc(-50% + 15px) calc(-50% - 15px);
    z-index: 1;

    span {
      @apply absolute block bg-white left-1/2 top-1/2;
      content: "";
      width: 100%;
      height: 0.4rem;

      &:nth-of-type(1) {
        translate: -50% calc(-50% - 12px);
        transition: translate 0.3s, rotate 0.3s;
        transition-delay: 0s;
      }
      &:nth-of-type(2) {
        translate: -50% calc(-50%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: clip-path 0.3s;
        transition-delay: 0.3s;
      }
      &:nth-of-type(3) {
        translate: -50% calc(-50% + 12px);
        transition: translate 0.3s, rotate 0.3s;
        transition-delay: 0s;
      }
    }
  }

  @media screen and (max-width: 767px) {
    width: 100px;
    height: 100px;

    div {
      translate: calc(-50% + 10px) calc(-50% - 10px);
    }
  }

  &.active {
    div {
      span {
        &:nth-of-type(1) {
          translate: -50% -50%;
          rotate: 45deg;
          transition-delay: 0.3s;
        }
        &:nth-of-type(2) {
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          transition-delay: 0s;
        }
        &:nth-of-type(3) {
          translate: -50% -50%;
          rotate: -45deg;
          transition-delay: 0.3s;
        }
      }
    }
  }
}

.nav_bg {
  @apply fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 150vh;
  height: 150vh;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  border-radius: 100%;
  translate: -50vh -25vh;
  scale: 0;

  @media screen and (min-width: 768px) {
    width: 200%;
    height: 200%;
    translate: -25% -25%;
  }
}

.nav {
  @apply fixed w-full h-full left-0 top-0 flex justify-center items-center;
  z-index: 7;
  opacity: 0;
  pointer-events: none;

  ul {
    @apply flex flex-col gap-3;
    li {
      @apply text-text uppercase font-medium text-center text-xl;

      a,
      button {
        @apply cursor-pointer inline-block w-full;
        transition: rotate 0.1s;
      }

      &::after {
        content: "";
        @apply block w-full h-0.5 bg-text opacity-70;
        margin-top: 2px;
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        transition: clip-path 0.3s;
      }

      &:last-of-type {
        @apply relative;

        a,
        button {
          @apply py-2;
        }

        &::after {
          display: none;
        }

        span {
          @apply absolute bg-text block;
          transition: clip-path 0.15s linear;
          &:nth-of-type(1) {
            @apply top-0 left-0 right-0 h-1px;
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            transition-delay: 0.45s;
          }

          &:nth-of-type(2) {
            @apply right-0 top-0 bottom-0 w-1px;
            clip-path: polygon(0 0, 100% 0, 0 0, 100% 0);
            transition-delay: 0.3s;
          }

          &:nth-of-type(3) {
            @apply left-0 right-0 bottom-0 h-1px;
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            transition-delay: 0.15s;
          }

          &:nth-of-type(4) {
            @apply left-0 top-0 bottom-0 w-1px;
            clip-path: polygon(0 100%, 100% 100%, 0 100%, 100% 100%);
            transition-delay: 0s;
          }
        }

        &:hover {
          span {
            &:nth-of-type(1) {
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              transition-delay: 0s;
            }

            &:nth-of-type(2) {
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              transition-delay: 0.15s;
            }

            &:nth-of-type(3) {
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              transition-delay: 0.3s;
            }

            &:nth-of-type(4) {
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              transition-delay: 0.45s;
            }
          }
        }
      }

      &:active {
        a {
          rotate: 5deg;
        }
      }

      &:hover {
        &::after {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
      }
    }
  }
}
